<div class="container">
<h1>Sorry to see you go!</h1>
<h3>To sign up for a new account, click below:</h3>

<input type="hidden" name="_method" value="DELETE">
<button type="submit"  class="btn btn-primary"><a href="/"><span class="glyphicon glyphicon-user"></span> Confirm Delete</a></button>


</div>


<div class="footer">
  <p><a href="/"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-log-out"></span> Log Out</button></a>
  
  <a href="/edit"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-edit"></span> Edit</button></a>

  <a href="/allposts"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-log-out"></span> All Posts</button></a>
  </p>
</div>