<div class="container">
<div class="row">

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">DELETE ACCOUNT</h5>

                <form action="/user/profile" method="POST">
                    <div class="form-group">
                        <input name="_method" type="hidden" class="form-control" value="DELETE">
                    </div>
                    <button type="submit" class="btn btn-primary"><a href="/"><span class="glyphicon glyphicon-edit"></span> Delete</a></button>
                </form>

            </div>
        </div>
    </div>
</div>
</div>