<div class="container">
<h1>Username Goes Here</h1>
<p>
<p>
<p>
(create new post form)
<p>
<p>
<p>
(posts go here)
</div>


<h3><%= @current_user.email %></h3>


<div class="footer">
  <p><a href="/"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-log-out"></span> Log Out</button></a>
  
  <a href="/"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-edit"></span> Edit</button></a></p>
</div>