<div class="container">
<h1>Welcome to Rumblr!</h1>
<h3>Start posting details and photos of architectural beauty by visiting your profile page below!</h3>
<p>
<p>
(image of form example)
<p>
<p>
(link to profile)
</div>






<div class="footer">
  <p><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-log-out"><a href="/home"></span> Log out</button></p>
  <a href="/"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-edit"></span> Delete</button></a></p>
</div>