<div class="container">
<h1>Welcome to Rumblr!</h1>
<h3>Start posting details and photos of architectural beauty by visiting your profile page below!</h3>
<p>
<button type="submit"  class="btn btn-primary"><a href="/profile"><span class="glyphicon glyphicon-user"></span> My Profile</a></button>
</div>

<div class="footer">
  <p><a href="/"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-log-out"></span> Log Out</button></a>
  
  <a href="/edit"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-edit"></span> Edit</button></a>

  <a href="/allposts"><button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-log-out"></span> All Posts</button></a>
  </p>
</div>