.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: whitesmoke !important;
}

.form-control {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

.container {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.img {
    margin-left: 0;
    margin-right: 0;
}